<!doctype html>
<html>
  <head>
    <title>Innertube - Youtube video search</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../scripts/popup.js"></script>
  </head>
  <body>
    <div id="search-content">
        <h1>Innertube: Youtube video search.</h1>
        <form>
            <input type="text" name="searchtext" id="searchtext" />
            <input type="submit" value="Search">
        </form>
    </div>
    <div id="not-youtube-warning">
        <p>This extension only works on www.youtube.com.</p>
    </div>
  </body>
</html>